<div class=" cards">
  <mat-card class="example-card m-3">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>equalizer</mat-icon>
        Cantidad de Encuestas Respondidas
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-respuestas">
        {{ totalEncuestas }}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card m-3">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>equalizer</mat-icon>Promedio total al dia en Facebook
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-respuestas">
        {{ TPromedioFacebook }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card m-3">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>equalizer</mat-icon>
        Promedio total al dia en Instagram
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-respuestas">
        {{ TPromedioInstagram}}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card m-3">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>equalizer</mat-icon>
        Promedio total al dia en WhatsApp
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-respuestas">
        {{ TPromedioWhatsaap }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card m-3">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>equalizer</mat-icon>
        Promedio total al dia en Twitter
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-respuestas">
        {{ TPromedioTwitter }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card m-3">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>equalizer</mat-icon>
        Promedio total al dia en Tiktok
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-respuestas">
        {{ TPromedioTiktok }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card m-3">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>equalizer</mat-icon>
        Red social Favorita
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-respuestas">
        {{ redFavorita}}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card m-3">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>equalizer</mat-icon>
        Red social menos Requerida
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-respuestas">
        {{ redMenosUsada }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card m-3">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>equalizer</mat-icon>
        Rango edades en redes sociales
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-respuestas">
        {{ rangoPorEdad }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
